@charset "UTF-8";

.boardViewTitle{
	margin: 50px;
	margin-bottom : 0px;
	font-size: 20px;
	border-bottom: solid;
}


.boardViewinfo{
	margin: 50px;
	margin-top: 0px;
	font-size : 12px;
}

.createDate{
	float: right;
}

.boardContent{
	border: solid;
	margin: 50px;

}

.board-inner{
	margin: 50px;
	width: 100%;
	height: 300px;
	}
	
.intoList{
	margin : 10px;
	width: 100px;
	height: 30px;
}

.btn{
	margin: 10px;
	border-radius: 10px;
	border:none;
	cursor: pointer;
	background: gray;
	color: white;
	width : 80px;
	height: 24px;
}

.bwrite{
	 position:relative;
	 left: 80%;
}


.commentbox{
	text-align: left;
	margin-top: 120px;
	margin-left: 10%;
}

.regComment{
	position : relative;
	top : -30px;
	width : 50px;
	height: 50px;
}

.comment{
	resize: none;
	margin-top : 20px;
	border: solid;
	width : 87%;
	height: 80px;
	
}


.commentBody{
	padding-bottom: 30px;
}

.commentId, .commentPw{
	width : 120px;
}

.commentList{
	margin-left: 10%;
	border-style:groove; 

}

.Listcomment{
	border-style:dashed;
	margin-left: 10%;
	resize: none;
	width : 78%;
	height: 30px;
	background-color: #AEE2F9;
}

.commentListId{
	margin-bottom: 5px;
}
.commentListId, .commentListPw{
	display : none;
	width: 80px;
	margin-left: 10%;
}


.buttonbox{
	display : none;
	margin-left: 10%;
}

.commentUserId{
	margin-left: 10%;
	font-size: 7px;
}

.sbtn{
	position : relative;
	border-radius: 10px;
	border: none;
	cursor: pointer;
	background: #5a5a5a	;
	color: white;
	width : 50px;
	height: 20px;
	left: 250px;
	top:-20px;
	
}


.recomment{
	border-style:inset;
	margin-left: 14%;
	margin-top : 5px;
	resize: none;
	width : 74%;
	height: 30px;
	display: none;
}

.reCommentReg{
	display: none;
}

.step2{
	margin-left: 14%;
}

.recommentbox2 > .commentForm > .Listcomment{
	margin-left: 14%;
	border-style:inset;
	background-color: #BEF5BE;
	
}